<!DOCTYPE html>
{% extends 'index/index1.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
{#    {{ form.as_p }}#}
    <table class="table dark"  style="margin-left: 60px">
            <div class="container">
                <tr>
                <td>Task Name:{{ form.task_name }}</td>
                </tr>
                <tr>
                <td>Starting Date:{{ form.starting_date }}</td>
                </tr>
                <tr>
                    <td>Ending Date:{{ form.ending_date}}</td>
                </tr>
                <tr>
                    <td>Status:{{ form.status }}</td>
                </tr>
                <tr>
                    <td>Employer :{{ form.employer }}</td>

        </tr>

                <tr>
                    <td><input type="submit" value="ok"></td>
                </tr>

                </div>
    </table>
</form>
{% endblock %}